<header class="absolute flex justify-between z-10	items-center px-5 lg:px-10 py-4 w-full">

  <a href="/" aria-label="tesla logo">
    <img src="/assets/images/logo.svg" alt="Tesla home page" class="w-32 h-5">
  </a>

  <nav class="hidden lg:flex items-center gap-x-8 relative">
    <a href="" class="link-styling">Model S</a>
    <a href="" class="link-styling">Model 3</a>
    <a href="" class="link-styling">Model X</a>
    <a href="" class="link-styling">Model Y</a>
  </nav>

  <ul class="hidden lg:flex gap-x-8">
    <li class="link-styling"><a href="/">Shop</a></li>
    <li class="link-styling"><a href="/">Account</a></li>
    <li class="link-styling"><a href="/">Menu</a></li>
  </ul>

  <button class="inline lg:hidden link-styling mobile-menu" (click)="onDisplayMenu()">Menu</button>
</header>
