<div class="h-screen overflow-y-scroll scroll-mandatory">
  <section *ngFor="let model of models" class="h-screen flex flex-col items-center pt-32 snap-start background-image"
    [style.background-image]="'url(/assets/images/' + model.image + ')'">
    <h1 class="text-5xl font-semibold pb-2">{{model.title}}</h1>
    <p>Order Online for <span class="border-b-2 border-black pb-px">Touchless Delivery</span></p>

    <div class="relative bottom-96 flex flex-col md:flex-row gap-4">
      <button class="bg-[#3b3e42] text-white py-2 w-64 text-sm	font-semibold	 rounded-full">CUSTOM ORDER</button>
      <button class="bg-[#e6e7e5] text-gray-600  py-2 w-64 text-sm	font-semibold	 rounded-full	">EXISTING INVENTORY</button>
    </div>
  </section>
</div>
