<footer class="h-12 p-2 max-w-5xl	mx-auto text-[#6f7174] flex justify-center">
  <nav>
    <ul class="text-center font-semibold text-sm flex flex-col md:flex-row gap-4">
      <li>
        <a routerLink="/">Tesla 2022</a>
      </li>
      <li>
        <a routerLink="/">Privacy & Legal</a>
      </li>
      <li>
        <a routerLink="/">Vehicle Recalls</a>
      </li>
      <li>
        <a routerLink="/">Contact</a>
      </li>
      <li>
        <a routerLink="/">Careers</a>
      </li>
      <li>
        <a routerLink="/">News</a>
      </li>
      <li>
        <a routerLink="/">Engage</a>
      </li>
      <li>
        <a routerLink="/">Locations</a>
      </li>
    </ul>
  </nav>
</footer>
