<header class="absolute flex justify-between z-10	items-center px-5 lg:px-10 py-4 w-full">

  <a routerLink="/" aria-label="tesla logo">
    <img src="/assets/images/logo.svg" alt="Tesla home page" class="w-32 h-4">
  </a>

  <nav class="hidden lg:flex items-center gap-x-8 relative">
    <a [routerLink]="['/model', 's']" class="link-styling">Model S</a>
    <a [routerLink]="['/model', '3']" class="link-styling">Model 3</a>
    <a [routerLink]="['/model', 'x']" class="link-styling">Model X</a>
    <a [routerLink]="['/model', 'y']" class="link-styling">Model Y</a>
  </nav>

  <ul class="hidden lg:flex gap-x-8">
    <li class="link-styling"><a href="/">Shop</a></li>
    <li class="link-styling"><a routerLink='/account/sign-in'>Account</a></li>
    <li class="link-styling" (click)="onDisplayMenu()">Menu</li>
  </ul>

  <button class="inline lg:hidden link-styling mobile-menu" (click)="onDisplayMenu()">Menu</button>
</header>
