<header class="flex justify-between z-10	items-center px-4 lg:px-10 py-3 w-full">

  <a aria-label="tesla logo">
    <img src="/assets/images/logo.svg" alt="Tesla home page" class="w-32 h-4">
  </a>

  <button class="flex gap-x-1 items-center">
    <i class="material-icons my-1" aria-label="Close menu icon">language</i>
    <p class="font-semibold text-gray-800">en-US</p>
  </button>
</header>

<div class="w-96 mt-2 p-2 mx-auto">

  <h2 class="text-4xl font-semibold">Sign In</h2>


  <form class="mt-8">

    <div class="flex flex-col gap-y-2">
      <label for="firstname" class="ml-3 text-gray-700 font-semibold flex items-center ">
        <span>Email Adress</span>
        <i class="material-icons ml-2 text-md" aria-label="Info icon">info</i>
      </label>
      <input class="bg-gray-100 rounded-full py-3 px-4 text-gray-700 focus:outline-none" type="text">
    </div>

    <div class="flex flex-col gap-y-2 mt-5">
      <label for="firstname" class="ml-3 text-gray-700 font-semibold">Password</label>
      <input class="bg-gray-100 rounded-full py-3 px-4 text-gray-700 focus:outline-none" type="text">
    </div>
  </form>

  <button class="bg-[#3d69e1] mt-5 p-2 w-full text-white rounded-full text-sm font-semibold">SIGN IN</button>


  <div class="w-56 flex justify-around mx-auto my-7 text-gray-700">
    <a class="cursor-pointer text-sm underline underline-offset-1">Forgot email ?</a>
    <span>|</span>
    <a class="cursor-pointer text-sm underline underline-offset-1">Forgot password ?</a>
  </div>


  <div class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-2 text-gray-700 font-semibold">OR</span>
    <div class="flex-grow border-t border-gray-400"></div>
  </div>

  <button class="border-2 border-black mt-5 p-2 w-full rounded-full text-sm font-semibold">CREATE ACCOUNT</button>


</div>
